NODE_ENV=dev
HTTP_PORT=3100
WS_PORT=8080
WS_PING_INTERVAL=30000
PG_HOST=localhost
PG_POST=5432
PG_USER=odl_project
PG_PASSWORD=**PG_PASSWORD**
PG_DBNAME=odl_project
PG_SCHEMA=public
REDIS_USERNAME=default
REDIS_PASSWORD=**REDIS_PASSWORD**
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DATABASE=7
REDIS_NAMESPACE=1dl
HASH_SALT=**HASH_SALT**
PINO_LOGLEVEL=info
USER_DEFAULT_STATE=active

