NODE_ENV=dev
HTTP_PORT=3100
WS_PORT=8100
WS_PING_INTERVAL=30000
PG_HOST=localhost
PG_POST=5432
PG_USER=odl_project
PG_PASSWORD=[!!UNDEFINED!!]
PG_DBNAME=odl_project
PG_SCHEMA=public
REDIS_PASSWORD=[!!UNDEFINED!!]
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DATABASE=7
REDIS_NAMESPACE=1dl
HASH_SALT=[!!UNDEFINED!!]
PINO_LOGLEVEL=info
USER_DEFAULT_STATE=active
SERVICE_ID=[!!UNDEFINED!!]

